<p-panel class="h-full">
  <ng-template #header>
    <h2 class="flex items-center gap-4 mb-0! min-h-11.5">
      <span class="pi pi-filter"></span>
      Filters
    </h2>
  </ng-template>

  <form role="form" class="grid gap-4" (submit.prevent)="onSubmit()">
    <ngt-input-text-field label="Name" [field]="form.name" />

    <ngt-input-text-field label="Email" [field]="form.email" />

    <ngt-input-date-field label="Birth Date" [field]="form.birthdate" />

    <div class="flex items-center justify-center">
      <p-button
        icon="pi pi-filter"
        label="Filter"
        size="small"
        type="submit"
        variant="outlined"
      />
    </div>
  </form>
</p-panel>
