<p-panel class="h-full">
  <ng-template #header>
    <div class="w-full flex justify-between gap-4">
      <h2 class="flex items-center gap-4 mb-0!">
        <span class="pi pi-list"></span>
        User list
      </h2>
      <p-button
        icon="pi pi-plus"
        label="Create"
        (click)="createUser()"
        data-testid="create-button"
      />
    </div>
  </ng-template>

  <p-table
    dataKey="id"
    [loading]="isUserListPending()"
    paginator
    [rows]="10"
    scrollable
    scrollHeight="65vh"
    size="small"
    stripedRows
    [value]="userList()"
  >
    <ng-template #emptymessage>
      <tr>
        <td colspan="4">
          <div class="min-h-48 grid items-center justify-center text-center">
            <div>
              <span class="pi pi-filter-slash text-4xl!"></span>
              <p class="text-xl">No data found</p>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>BIRTH DATE</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template #body let-user>
      <tr>
        <td>
          <a [routerLink]="user.name" class="underline text-primary">
            {{ user.name }}
          </a>
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.birthdate }}
        </td>
        <td>
          <ul class="flex gap-4 justify-end">
            <li>
              <p-button
                icon="pi pi-trash"
                severity="danger"
                size="small"
                [title]="`Delete user ${user.name}`"
                (click)="deleteUser(user)"
              />
            </li>
            <li>
              <p-button
                icon="pi pi-pencil"
                severity="info"
                size="small"
                [title]="`Edit user ${user.name}`"
                (click)="updateUser(user)"
              />
            </li>
          </ul>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
