<form class="grid gap-4 mb-6">
  <ngt-input-text-field
    label="Name"
    [field]="form.name"
    [hint]="
      form.name().pending()
        ? 'Checking availability...'
        : 'Between 3 and 30 characters'
    "
    [error]="
      form.name().touched() && form.name().errors().length
        ? form.name().errors()[0].message
        : null
    "
  />

  <ngt-input-text-field
    label="Email"
    [field]="form.email"
    hint="Ex: jimmy.julien@mail.fr"
    [error]="
      form.email().touched() && form.email().errors().length
        ? form.email().errors()[0].message
        : null
    "
  />

  <ngt-input-date-field
    label="Birth Date"
    [field]="form.birthdate"
    hint="MM/DD/YYYY"
    [error]="
      form.birthdate().touched() && form.birthdate().errors().length
        ? form.birthdate().errors()[0].message
        : null
    "
  />

  @if (!form.representant().hidden()) {
    <ngt-input-text-field
      label="Representant"
      [field]="form.representant"
      [error]="
        form.representant().touched() && form.representant().errors().length
          ? form.representant().errors()[0].message
          : null
      "
    />
  }

  <fieldset>
    <legend class="sr-only">Pets</legend>
    @for (pet of form.pets; track pet()) {
      <div class="grid grid-cols-[1fr_auto] items-center gap-4">
        <ngt-input-text-field
          [label]="`Pet ${$index + 1}`"
          [field]="pet"
          hint="Minimum 2 characters"
          [error]="
            pet().touched() && pet().errors().length
              ? pet().errors()[0].message
              : null
          "
        />
        @if ($first) {
          <p-button
            icon="pi pi-plus"
            size="small"
            ariaLabel="Add a pet"
            pTooltip="Add a pet"
            type="button"
            (click)="addPet()"
          />
        } @else {
          <p-button
            icon="pi pi-minus"
            size="small"
            ariaLabel="Remove a pet"
            pTooltip="Remove a pet"
            type="button"
            (click)="removePet($index)"
          />
        }
      </div>
    }
  </fieldset>

  <ngt-input-text-field
    label="Password"
    [field]="form.password"
    inputType="password"
    hint="Strong password"
    [error]="
      form.password().touched() && form.password().errors().length
        ? form.password().errors()[0].message
        : null
    "
  />

  <ngt-input-text-field
    label="Confirm password"
    [field]="form.confirmPassword"
    inputType="password"
    hint="Same password as above"
    [error]="
      form.confirmPassword().touched() && form.confirmPassword().errors().length
        ? form.confirmPassword().errors()[0].message
        : null
    "
  />
</form>

<div class="flex justify-end gap-4">
  <p-button
    icon="pi pi-times"
    label="Cancel"
    size="small"
    variant="outlined"
    (click)="onCancel()"
  />
  <p-button
    [disabled]="form().invalid() || form().pending()"
    icon="pi pi-check"
    label="Submit"
    size="small"
    (click)="onSubmit()"
  />
</div>
