<!-- <div class="grid gap-1 w-full">
    <label for="representant">Representant</label>
    <input id="representant" pInputText [formField]="form.representant" />
    @if (form.representant().touched() && form.representant().errors().length) {
      <p-message severity="error" variant="simple" size="small">
        {{ form.representant().errors()[0].message }}
      </p-message>
    } @else {
      <p-message severity="contrast" variant="simple" size="small">
        Required under 16
      </p-message>
    }
  </div> -->

<ngt-input-text-field
  [label]="label()"
  [field]="field()"
  [hint]="hint()"
  [error]="error()"
/>

<p-popover #lookupPopover>
  <ng-content select="[ngt-lookup-table]" />
</p-popover>
