<p-card>
  <ng-template #header>
    <ng-template #title>Log in</ng-template>
  </ng-template>

  <form class="grid gap-4 p-8" (submit.prevent)="login()">
    <ngt-input-text-field label="Login" [field]="form.login" />
    <ngt-input-text-field
      label="Password"
      [field]="form.password"
      inputType="password"
    />
    @if (areCredentialsInvalid()) {
      <p-message severity="error" variant="simple" size="small">
        Invalid credentials
      </p-message>
    }
    <p-button type="submit" label="Log in" />
  </form>
</p-card>
